{{ "<!-- Contact Section -->" | safeHTML }}
<p>Pour me contacter il vous suffit de m'envoyer un message avec le formulaire ci-dessous. Si tout se passe bien vous aurez un message {"Status": "success", ... } assez moche mais qui vous confirme que tout s'est bien passé.</p>
<form  action="https://hooks.zapier.com/hooks/catch/607769/43m9eq/" method="POST" name="sentMessage" id="contactForm">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Votre nom" name="name" required data-validation-required-message="{{ with .Site.Params.contact.form.name.warning }}{{ . | markdownify}}{{ end }}">
        <p class="help-block text-danger"></p>
    </div>
    <div class="form-group">
        <input type="email" class="form-control" placeholder="email" name="email" required data-validation-required-message="{{ with .Site.Params.contact.form.email.warning }}{{ . | markdownify }}{{ end }}">
        <p class="help-block text-danger"></p>
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="Message" name="message" required data-validation-required-message="{{ with .Site.Params.contact.form.message.warning }}{{ . | markdownify }}{{ end }}"></textarea>
        <p class="help-block text-danger"></p>
    </div>
    <div class="col-lg-12 text-center">
        <input type="submit" value="ENVOYER VOTRE MESSAGE">
    </div>
</form>
