        </div>
    </body>

        <!-- Keeping the deprecated param, minifiedFilesCSS, for now. The new param
             that replaces this is customCSS. Utilizing a scratch variable cssFiles
             to keep the deprecated param. -->
        {{ if isset .Site.Params "minifiedFilesCSS" }}
            {{ $.Scratch.Set "cssFiles" .Site.Params.minifiedFilesCSS }}
        {{ else if isset .Site.Params "customCSS" }}
            {{ $.Scratch.Set "cssFiles" .Site.Params.customCSS }}
        {{ else }}
            {{ $.Scratch.Set "cssFiles" false }}
        {{ end }}

        <!-- If the value "default" is passed into the param then we will first
             load the standard css files associated with the theme -->
        {{ if or (in ($.Scratch.Get "cssFiles") "default") (eq ($.Scratch.Get "cssFiles") false) }}
            <link rel="stylesheet" href="/css/main.css" />
        {{ end }}

        {{ if ne ($.Scratch.Get "cssFiles") false }}
            {{ range $.Scratch.Get "cssFiles" }}
                {{ if ne . "default" }}
                    <link rel="stylesheet" href="{{ . }}" />
                {{ end }}
            {{ end }}
        {{ end }}
        
</html>
