<!-- Pagination -->
<div id="navigation">
	<ul class="actions pagination">
	    {{ if .Paginator.HasPrev }}
	        <li><a href="{{ .Paginator.Prev.URL }}" class="button">{{ with .Site.Params.localized.button.previous }}{{ . }}{{ end }}</a></li>
	    {{ else }}
	        <li><a href="#" class="disabled button">{{ with .Site.Params.localized.button.previous }}{{ . }}{{ end }}</a></li>
	    {{ end }}
	
	    {{ if .Paginator.HasNext }}
	        <li><a href="{{ .Paginator.Next.URL }}"
	                class="button">{{ with .Site.Params.localized.button.next }}{{ . }}{{ end }}</a></li>
	    {{ else }}
	        <li><a href="#" class="disabled button">{{ with .Site.Params.localized.button.next }}{{ . }}{{ end }}</a></li>
	    {{ end }}
	</ul>
</div>