<!-- The bar on the left on large view, or at the bottom of the site on narrow view -->

{{ "<!-- layouts:partials:sidebar -->" | safeHTML }}
<section id="sidebar">
	<section class="blurb">
	    <p>{{ with .Site.Params.intro.about }}{{ . | markdownify }}{{ end }}</p>
	        <a href="/about/" class="button">{{ with .Site.Params.localized.button.about }}{{ . | markdownify }}{{ end }}</a>
			<br /><br />
	    <p>{{ with .Site.Params.intro.contact }}{{ . | markdownify }}{{ end }}</p>
	        <a href="{{ .Site.Params.contactlink }}" class="button">{{ with .Site.Params.localized.button.contact }}{{ . | markdownify }}{{ end }}</a>				        
	</section>{{ "<!-- blurb -->" | safeHTML }}
	<div class="hide-lg">
		<section id="links" class="justify-left">
			<header>
			    <p>Les sites que je soutiens</p>
			</header>
			{{- range .Site.Data.links }}		
			<div class="link">
				<a href="{{ .link }}">
		    		<img src="/pictures/links/{{ .picture }}">
		    		<p>{{ .description }}</p>
		    	</a>
			</div>
			{{- end }}
		</section>{{ "<!-- links -->" | safeHTML }}
	</div>
	    <section id="rss">
		<a rel="alternate" type="application/rss+xml" href=" {{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS" class="button">{{ with .Site.Params.localized.button.rss }}{{ . | markdownify }}{{ end }}</a>					        
	    </section>{{ "<!-- intro -->" | safeHTML }}
    {{- if ne ($.Scratch.Get "showCategories") false }}
    <section id="categories">
        <ul class="posts">
            {{- if .Site.Params.categoriesByCount }}
                {{- $.Scratch.Set "categories" .Site.Taxonomies.categories.ByCount }}
            {{- else }}
                {{- $.Scratch.Set "categories" .Site.Taxonomies.categories.Alphabetical }}
            {{- end }}
            {{- range $key, $value := $.Scratch.Get "categories" }}
            <li>
                <article>
                    <header>
                        <a href="/categories/{{ $value.Name | urlize }}/" class="text-small">{{ $value.Name }}</a>
                        <span style="float:right;" class="text-small">{{ $value.Count }}</span>
                    </header>
                </article>
            </li>
            {{- end }}
        </ul>
    </section>{{ "<!-- categories -->" | safeHTML }}
    {{- end }}
    <section id="footer">
        <p class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
    </section>{{ "<!-- footer -->" | safeHTML }}
</section>{{ "<!-- sidebar -->" | safeHTML }}