{{/* The bar on the left on large view, or at the bottom of the site on narrow view */}}

{{ "<!-- partials:sidebar -->" | safeHTML }}
<section id="sidebar">

	{{/* Intro text in sidebar */}}
	<section class="blurb">
	    <p>{{ with .Site.Params.intro.about }}{{ . | markdownify }}{{ end }}</p>
	        <a href="/about/" class="button">{{ with .Site.Params.localized.button.about }}{{ . | markdownify }}{{ end }}</a>
			<br /><br />
	    <p>{{ with .Site.Params.intro.contact }}{{ . | markdownify }}{{ end }}</p>  
	</section>{{ "<!-- blurb -->" | safeHTML }}

	{{/* Generates the links to other sites */}}
	<div class="hide-lg">
		<section id="links" class="justify-left">
			<header>
			    <p>Les sites que je soutiens</p>
			</header>
			{{ range .Site.Data.links }}		
			<div class="link">
				<a href="{{ .link }}">
		    		<img src="/pictures/links/{{ .picture }}">
		    		<p>{{ .description }}</p>
		    	</a>
			</div>
			{{ end }}
		</section>{{ "<!-- links -->" | safeHTML }}
	</div>
	
	{{/* RSS link */}}
    <section id="rss">
		<a rel="alternate" type="application/rss+xml" href=" {{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS" class="button">{{ with .Site.Params.localized.button.rss }}{{ . | markdownify }}{{ end }}</a>					        
    </section>{{ "<!-- rss -->" | safeHTML }}
	
	{{/* List of categories */}}
    <section id="categories">
        <ul class="posts">
		    {{ range $.Site.Taxonomies.categories.ByCount }}
		        <li class="text-small">
					<a href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
					<span style="float:right;">{{ .Count }}
				</li>
		   {{ end }}
        </ul>
    </section>{{ "<!-- categories -->" | safeHTML }}
	
	{{/* And final copyright footer */}}
    <section id="footer">
        <p class="copyright">{{ with .Site.Params.footer.copyright }}{{ . | markdownify }}{{ end }}</p>
    </section>{{ "<!-- footer -->" | safeHTML }}
	
</section>{{ "<!-- sidebar -->" | safeHTML }}