{{ "<!-- template:index -->" | safeHTML }}
{{ partial "header" . }}
{{ partial "navbar" . }}
		    <div id="main">
{{- if .Site.Params.orderByPublishDate }}
	{{- $paginator := .Paginate (where .Data.Pages.ByPublishDate.Reverse "Type" "post") }}
{{- else }}
    {{- $paginator := .Paginate (where .Site.Pages "Type" "post") }}
{{- end }}
{{- range .Paginator.Pages }}
    {{ .Render "content-single" }}
{{- end }}
{{ partial "pagination" . }}
		    </div>{{ "<!-- main -->" | safeHTML }}
{{ partial "sidebar" . }}
{{ partial "footer" . }}

