{{ "<!-- _default:article-header:start -->" | safeHTML }}
<header class="post-header">
  <div class="title">
    <h2 class="post-header-title">
			<a href="{{ .RelPermalink }}">
				{{ .Title  | markdownify  }}
			</a>
		</h2>
    {{ with .Description }}
	    <p>
				{{ . }}
			</p>
    {{ end }}
  </div>{{ "<!-- title -->" | safeHTML }}
  <div class="post-header-meta">
    {{ $.Scratch.Set "dateType" .Date }}
    <time class="post-header-meta-published" datetime='{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}'>
			{{ if .Params.initialdate }}
				Updated
			{{ end }}
			{{ ($.Scratch.Get "dateType").Format "2006-01-02" }}
		</time>
		{{ with .Params.initialdate }}
	    <time class="post-header-meta-published" datetime='{{ . }}'>
				(Initial date {{ . }})
			</time>
		{{ end }}
	</div>{{ "<!-- meta -->" | safeHTML }}
	<div class="pills">
		{{ range .Params.companies }}
			<span class="pill pill-company">
				<a href="/companies/{{ . | urlize }}/">
					{{ . }}
				</a>
			</span>
		{{ end }}
		{{ range .Params.categories }}
			<span class="pill pill-category">
				<a href="/categories/{{ . | urlize }}/">
					{{ . }}
				</a>
			</span>
		{{ end }}
		{{ range .Params.promised }}
		<span class="pill pill-promised">
			<a href="/promised/{{ . | urlize }}/">
				Promised {{ . }}
			</a>
		</span>
		{{ end }}
		{{ range .Params.deadline }}
			<span class="pill pill-deadline">
				<a href="/deadline/{{ . | urlize }}/">
					Deadline {{ . }}
				</a>
			</span>
		{{ end }}
	</div>

</header>
{{ "<!-- _default:article-header:end -->" | safeHTML }}
