{{- define "main" }}
	{{ "<!-- _default:list.html:start -->" | safeHTML }}
	<main>
		{{- $.Scratch.Set "count" 0 }}
		{{ $paginator := "" }}
		{{ if .IsHome }}
			{{ $paginator = .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
		{{ else }}
			{{ $paginator = .Paginator }}
		{{ end }}
		{{ range $paginator.Pages }}
			{{- $.Scratch.Add "count" 1 }}
			{{- .Render "article" }}
			{{- if eq ($.Scratch.Get "count") 1 }}
				{{/* <!-- If it's the first article then insert links before second article --> */}}
				{{- partial "links" . }}
			{{- end }}
		{{- end }}
		{{- partial "pagination" . }}
	</main>
	{{ "<!-- _default:list.html:end -->" | safeHTML }}
{{- end }}
