/* @group standard tags */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot,
thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -webkit-text-size-adjust: none;
    -ms-overflow-style: scrollbar;
    background: #f4f4f4;
    padding-top: 128px; /* necessary so body starts below topbar */
}

body.is-loading * , body.is-loading * :before, body.is-loading * :after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

body, input, select, textarea {
    color: #444;
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    line-height: 1.75;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}


blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* , * :before, * :after {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}



/* a tag */

a {
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    border-bottom: dotted 1px rgba(160, 160, 160, 0.65);
    color: inherit;
    text-decoration: none;
}

a:before {
    transition: color 0.2s ease;
}

a:hover {
    border-bottom-color: transparent;
    color: #2ebaae !important;
}

a:hover:before {
    color: #2ebaae !important;
}

strong, b {
    color: #3c3b3b;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 1em 0 1em 0;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

blockquote {
    border-left: solid 4px rgba(160, 160, 160, 0.3);
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 2em;
}

code {
  background: rgba(160, 160, 160, 0.075);
  border: solid 1px rgba(160, 160, 160, 0.3);
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0.25em;
	padding: 1em 1.5em;
	display: block;
	line-height: 1.75em;
	width: 90%;
	white-space: pre-wrap;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: "Courier New", monospace;
  font-size: 0.9em;
  margin: 0 0 2em 0;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(160, 160, 160, 0.3);
  margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

/* @end */

/* @group h titles */

h1, h2, h3, h4 {
  color: #3c3b3b;
    font-weight: 800;
    letter-spacing: 0.1em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a {
    color: inherit;
    border-bottom: 0;
}

h2 {
    font-size: 1.1em;
}

h3 {
    font-size: 0.9em;
}

h4 {
    font-size: 0.7em;
}

@media screen and (max-width:980px) {
	h1 {
		text-align: center;
	}
}

/* @end */


/* @group buttons */

button,
.button {
    appearance: none;
    transition: background-color 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
    background-color: transparent;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(128, 128, 128, 0.3);
    color: #3c3b3b !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.7em;
    font-weight: 800;
    height: 4.8125em;
    letter-spacing: 0.25em;
    line-height: 4.8125em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
	width: 100%;
}

button:hover,
.button:hover {
    box-shadow: inset 0 0 0 1px #2ebaae;
    color: #2ebaae !important;
}

button:hover:active,
.button:hover:active {
    background-color: rgba(46, 186, 174, 0.05);
}

button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    color: rgba(160, 160, 160, 0.3) !important;
	box-shadow: inset 0 0 0 1px rgba(160, 160, 160, 0.3);
}

button.disabled:before,
button:disabled:before,
.button.disabled:before,
.button:disabled:before {
    color: rgba(160, 160, 160, 0.3) !important;
}

.pill {
	border-radius: 5px;
	padding: 5px;
	margin-right: 8px;
}

.pill a, .pill a:hover {
	color: #ffffff !important;
	border-bottom: 0;
}

.pill-company {
	background-color: #6364FF;	
}

.pill-category {
	background-color: #00ABC2;
}

.pill-promised {
	background-color: #00B578;		
}

.pill-deadline {
	background-color: #C69828;	
}

/* @end */

label {
    color: #3c3b3b;
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

/* @group lists */

ol {
    list-style: decimal;
    margin: 1em 0 1em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 1em 0 1em 0;
    padding-left: 1em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px rgba(160, 160, 160, 0.3);
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

dl {
    margin: 0 0 2em 0;
}

dl dt {
    display: block;
    font-weight: 700;
    margin: 0 0 1em 0;
}

dl dd {
    margin-left: 2em;
}

/* @end */

/* @group topbar (top of site) */

#topbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 128px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.topbar-style {
	background-color: #ffffff;
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);
}

.topbar-style a {
    color: inherit;
    text-decoration: none;
    border: none;
}

.topbar-style h1 {
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

@media screen and (max-width:980px) {   
    .topbar-style h1 {
    	font-size: 0.7em;
    }
}

@media screen and (max-width:320px) {   
    .topbar-style h1 {
    	font-size: 0.5em;
    }
}

/* @end */

/* @group flexbox wrapper and children main and aside */

.flex-grandparent {
	/* main flex around main and aside */
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
	margin: 3em 0 0 3em; /* trbl set top and left margins on flexbox wrapper */
	padding: 0;
}

.flex-parent-main {
	/* secondary flex for main */
	flex: 1;
    flex-grow: 1; /* main, the part containing the articles can grow horizontally */
	max-width: 960px;
}

.flex-parent-aside {
	/* secondary flex for aside */
	flex: 0 0 320px; /* no grow, no shrink, fixed basis */
}

.layout-module {
	/* layout block inside flex-(grand)parent */
	/* not called flex- because it's not a flexbox */
	margin: 0 3em 3em 0; /* trbl set right and bottom margins on children */
 }

.blurb h2 {
    font-size: 0.8em;
    margin: 0 0 1.5em 0;
}

.blurb h3 {
    font-size: 0.7em;
}

.blurb p {
    font-size: 0.8em;
}

.post {
	display: flex;
	flex-direction: column;
}

.post-style {	
    background: #ffffff;
    border: solid 1px rgba(160, 160, 160, 0.3);
}

.post header {
    display: flex;
	flex-direction: column;
    position: relative;
	padding-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 2em;
}

.post header .title {
    flex-grow: 1;
}

.post-header-style {
    border-bottom: solid 1px rgba(160, 160, 160, 0.3);	
}

.post-header-title-style {
    font-weight: 900;
    font-size: 1.5em;
	margin-bottom: 0;
}

.post header .meta {
    text-align: left;
		margin-bottom: 1em;
}

.post header .meta .published {
    color: #bbbbbb;
    font-size: 0.75em;
    font-weight: 800;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
}

.img-50p {
	width: 50%;
	height: auto;
}

@media screen and (max-width: 480px) {
	.img-50p {
		width: 100%;
		height: auto;
}

}

.post-content {
	padding-top: 3em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 3em;
}

.post-related {
	padding-top: 0em;
	padding-left: 3em;
	padding-right: 3em;
	padding-bottom: 3em;
}

ul.posts {
    list-style: none;
    padding: 0;
}

@media screen and (max-width:980px) {

	.flex-grandparent {
		flex-direction: column;
		align-items: stretch;
		margin: 1.5em 0 0 1.5em;
	}
	
	.flex-parent-aside {
		padding-top: 2em;
		flex-grow: 1;
	}
	
	.layout-module {
		margin: 0 1.5em 1.5em 0;
	}
	
	.post {
        border-left: 0;
        border-right: 0;
    }

    .post header {
		padding-top: 2em;
		padding-left: 0em;
		padding-right: 0em;
		padding-bottom: 1em;
	}

    .post header .title {
        text-align: center;
    }

    .post header .title h2 {
		font-size: 1em;
    }

    .post header .meta {
        align-items: center;
		flex-direction: column;
        display: flex;
        justify-content: center;
    }

	.post-content {
		padding-top: 2em;
		padding-left: 0em;
		padding-right: 0em;
		padding-bottom: 1em;
	}

	.post-related {
		padding-top: 0em;
		padding-left: 0em;
		padding-right: 0em;
		padding-bottom: 1em;
	}
}

/* @end */

.aside-li {
	margin-top: 0.5em;
	margin-bottem: 0.5em;
}

/* @group navigation */

#navigation {
	
}

/* buttons navigation */

ul.actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 0;
    padding-left: 0; /* necessary to avoid shift right */
    cursor: default;
    list-style: none;
}

ul.actions li {
	flex: 1;
	padding: 0;
}

@media screen and (max-width:980px) {
    ul.actions {
		flex-direction: column;
    }

	ul.actions li {
		flex: 1;
		padding: 0;
	}
}

/* @end */

/* section copyright */

#copyright {
    color: #bbbbbb;
    font-size: 0.75em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
}



/* @group flexbox links and children link */

#links {
}

#links header p {
	text-transform: uppercase;
}

.links {
	display: flex;
	justify-content: space-around; /* use helper class space-between to change */
	flex-wrap: wrap;
}

.link {
	flex: 0;
	margin: 0;
	flex-basis: 122px;
	margin-bottom: 2em;
}

.link img {
	border: 1px solid rgba(160, 160, 160, 0.3);
	width: 122px;
	height: 92px;	
}

.link a {
	border: 0;
}

.link p {
	font-size: 0.825em;
	margin-bottom: 0px;
}

.hide-sm {
	margin-top: 2em;
	display: none;	
}

.hide-lg {
	display: none;
}

@media screen and (min-width:981px) {
	.hide-lg {
		display: block;
	}
}

@media screen and (max-width:980px) {
	.hide-sm {
		display: block;
	}

}

/* @end */

/* @group dark theme */

@media (prefers-color-scheme: dark) {

    body, input, select, textarea {
        color: #ddd;
        background: #222;
    }
	
	.topbar-style {
		background: #222;
	}
	
	.topbar-style h1 a {
		color: #bbbbbb;
	}

	.post {
		background: #222;
	}
	
	h1, h2, h3, h4 {
	    color: #bbb;
	}
	
	strong, b {
	    color: #ddd;
	    font-weight: 700;
	}
	
	button,
	.button {
		color: #bbb !important;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
	}
	
	button.disabled,
	button:disabled,
	.button.disabled,
	.button:disabled {
		box-shadow: inset 0 0 0 1px rgba(150, 150, 150, 0.5);
	}	
}

/* @end */

/* @group helper classes */

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.justify-left {
	text-align: left;
}

.justify-center {
	text-align: center;
}

.space-between {
	justify-content: space-between;
}

.text-small {
	font-size: 0.825em;
}

.text-bold {
	font-weight: 800;
}

.text-upper {
	text-transform: uppercase;
}

/* @end */
