{{ "<!-- _default:article-header:start -->" | safeHTML }}
<header class="post-header">
	<h2 class="post-header-h2">
		<a href="{{ .RelPermalink }}">
			{{ .Title  | markdownify  }}
		</a>
	</h2>
  {{ with .Description }}
    <p class="post-header-p">
			{{ . }}
		</p>
  {{ end }}
  <div class="post-header-meta">
		{{ with .Date }}
	    <time class="post-header-meta-published" datetime='{{ . | time.Format "2006-01-02" }}'>
				{{ . | time.Format "2006-01-02" }}
			</time>
		{{ end }}
		{{ $date := (.Date | time.Format "2006-01-02") }}
		{{ $dateupdate := (.Lastmod) | time.Format "2006-01-02" }}		
		{{ if gt $dateupdate $date }}
	    <time class="post-header-meta-published" datetime='{{ $dateupdate }}'>
				(UPDATED {{ $dateupdate }})
			</time>
		{{ end }}
	</div>{{ "<!-- meta -->" | safeHTML }}
	<div class="pills">
		{{ range .Params.companies }}
			<span class="pill pill-company">
				<a href="/companies/{{ . | urlize }}/">
					{{ . }}
				</a>
			</span>
		{{ end }}
		{{ range .Params.categories }}
			<span class="pill pill-category">
				<a href="/categories/{{ . | urlize }}/">
					{{ . }}
				</a>
			</span>
		{{ end }}
		{{ range .Params.tags }}
			<span class="pill pill-category">
				<a href="/tags/{{ . | urlize }}/">
					{{ . }}
				</a>
			</span>
		{{ end }}
		{{ range .Params.promised }}
		<span class="pill pill-promised">
			<a href="/promised/{{ . | urlize }}/">
				Promised {{ . }}
			</a>
		</span>
		{{ end }}
		{{ range .Params.deadline }}
			<span class="pill pill-deadline">
				<a href="/deadline/{{ . | urlize }}/">
					Deadline {{ . }}
				</a>
			</span>
		{{ end }}
	</div>

</header>
{{ "<!-- _default:article-header:end -->" | safeHTML }}
