{{ "<!-- partials:links:start -->" | safeHTML }}
<section id="links" class="layout-module blurb hide-sm">
	<header>
	  <p class="align-center">Les sites que je soutiens</p>
	</header>
	<div class="links-flex">
		{{- range $.Site.Data.links }}
		<div class="link">
			<a href="{{ .link }}" class="link-a">
	    		<img src="/pictures/links/{{ .picture }}" class="link-img">
	    		<p class="link-p">{{ .description }}</p>
	    	</a>
		</div>
		{{- end }}
	</div>
</section>{{ "<!-- links -->" | safeHTML }}
{{ "<!-- partials:links:end -->" | safeHTML }}